<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Des chiffres & des lettres</h1>
      <h2>Votre Grille</h2>
      <h3><%= @grid %></h3>
      <h2>Que proposer vous ?</h2>
      <form action="<%= score_path %>" classs= "form-group" method="get">
        <input type="text" name="attempt">
        <input type="hidden" name="grid" value="<%= @grid %>">
        <input type="hidden" name="start_time" value="<%= @start_time %>">
        <input type="submit" value="GO" class = "btn btn-primary">
      </form>
    </div>
  </div>
</div>
