// Place all the styles related to the longestword controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: green;
}

.myword {
  padding: 30%;
  background-image: "background.jpg"
}
